<div class="jumbotron bg-white text-center">
    <h1 class="display-4">Corona COVID-19 Tracker</h1>
    <hr>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, consequatur? Placeat maxime reprehenderit iure molestiae esse sint laborum sapiente illo in. Saepe dolorum similique, quis beatae sequi accusantium officia ullam?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non labore perspiciatis odio ut aliquam rerum quidem, est ea iste harum id? Odio nulla error consequuntur nisi debitis cum fuga provident magnam dolores, minus excepturi illo!</p>

  </div>
